/**
RecipeDetails
*/

.Recipe {
	margin: 0px 20px
}

.Recipe-title {
	color: black;
	font-size: 24px;
	margin-bottom: 0px;
	margin-top: 10px;
}

.Recipe-servings {

}

.Recipe-servings--altered {

}

.Recipe-instructions {

}

/**
Ingredient specific
*/

.Recipe-ingredient p {
	margin-bottom: 0px;
}

.Recipe-ingredientLeft {
	font-weight: 700;
	text-align: right;
}

.Recipe-ingredientRight {

}

.Recipe-ingredientSubsectionTitle {

}